body {
    margin: 0;
    font-family: Arial;
        padding-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px;
    text-align: center;

}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

/* Щоб контент не ховався під меню */
section {
    padding: 80px 20px;
    scroll-margin-top: 70px;
}